body {
	background-image: url('../images/cloudy-day.png');
}

.whiteBox {
    display: inline-block;
    width: 1220px;
    height: 640px;
    margin: 81px;
    padding-left: 100px;
    padding-top: 40px;
    background-color: #efeede;
    border: 3px solid #979ba0; 
}