body {
	background-image: url('../images/cloudy-day.png');
}

.whiteBox {
    display: inline-block;
    width: 1220px;
    height: 920x;
    margin: 81px;
    padding-left: 100px;
    padding-top: 40px;
    background-color: #efeede;
    border: 3px solid #979ba0; 
}

.coloradoFlag {
	float: right;
}

#mountains {
	color: #1c345b;
	font-size: 71px;
	text-align: center;
}

hr {
	color: black;
}

#instructions{
	color: #d51244;
	font-size: 29px;
}
.button {
    background-color: #4CAF50;
    border: none;
    border-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 50px;
    cursor: pointer;
}